body {
    font-family: Arial, sans-serif;
    background-color: #808000; /* Цвет хаки */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.card-container {
    width: 500px;
    perspective: 1000px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2[data-fixed-title] {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.card-inner {
    width: 100%;
    height: 600px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back, .card-mystery {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0; /* Светло-серый цвет карточки */
}

.card-front {
    transform: rotateY(0deg);
    display: none; /* Изначально скрываем лицевую сторону */
}

.card-back {
    transform: rotateY(180deg);
}

.card-mystery {
    transform: rotateY(0deg); /* Убеждаемся, что видна изначально */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0; /* Светло-серый цвет карточки */
}

.card-back img {
    width: 80%;
    height: auto;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-back p {
    font-size: 1.2rem;
    text-align: center;
}

.navigation {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.nav-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #45a049;
}

.hidden {
    display: none !important;
}
